<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Push Notification Test</title>
</head>
<body>
<h1>Push Notification Test</h1>
<button id="subscribeButton">푸시 알림 구독하기</button>

<script>
    /**
     * VAPID 공개키 설정
     */
    const publicVapidKey = 'BCz1BNLNccwKDd9XwGJUnNNcKoluFigzD_5xRlehWtGinDRoESwgR63bHrhHvEcZydUj4qPWDk7YcDhmvisNmrM';

    /**
     * urlBase64ToUint8Array: 이 함수는 Base64 URL-safe 문자열을 Uint8Array로 변환하는 함수입니다.
     * 브라우저의 Push API는 applicationServerKey를 Uint8Array 형식으로 받아야 하기 때문에, 공개 키(Base64)를 이 형식으로 변환하는 역할을 합니다.
     */
    function urlBase64ToUint8Array(base64String) {
        const padding = '='.repeat((4 - base64String.length % 4) % 4);
        const base64 = (base64String + padding)
            .replace(/\-/g, '+')
            .replace(/_/g, '/');
        const rawData = window.atob(base64);
        const outputArray = new Uint8Array(rawData.length);
        for (let i = 0; i < rawData.length; ++i) {
            outputArray[i] = rawData.charCodeAt(i);
        }
        return outputArray;
    }



    document.getElementById('subscribeButton').addEventListener('click', function() {
        // 알림 권한 요청
        Notification.requestPermission().then(permission => {
            if (permission === 'granted') {
                console.log('알림 권한이 허용되었습니다.');
                subscribeUser();  // 권한이 허용되었을 때만 구독 진행
            } else {
                console.error('알림 권한이 거부되었습니다.');
            }
        });
    });

    function subscribeUser() {
        if ('serviceWorker' in navigator) { // 현재 브라우저가 Service Worker 기능을 지원하는지 확인
            navigator.serviceWorker.register('/service-worker.js') // service-worker.js 등록
                .then(function(registration) {
                    console.log('Service Worker 등록 성공:', registration);
                    return navigator.serviceWorker.ready; // Service Worker가 준비될 때까지 기다림
                })
                .then(function(registration) {
                    return registration.pushManager.subscribe({ // Service Worker 구독
                        userVisibleOnly: true, // 사용자에게 보이는 알림만 받도록 설정
                        applicationServerKey: urlBase64ToUint8Array(publicVapidKey) // VAPID 공개 키 설정
                    });
                })
                .then(function(subscription) {
                    console.log('푸시 알림 구독 성공:', subscription);

                    // 구독 정보를 서버로 전송
                    fetch('/subscribe', {
                        method: 'POST',
                        body: JSON.stringify(subscription),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(function(response) {
                        console.log('서버 응답:', response);
                    });
                })
                .catch(function(error) {
                    console.error('푸시 알림 구독 실패:', error);
                });
        }
    }
</script>
</body>
</html>